@model List<AppRole>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Roller</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th></th>
    </tr>

    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Id</td>
            <td>@role.Name</td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = role.Id }) |

                @Html.ActionLink("Sil", "Delete", new { id = role.Id })
            </td>
        </tr>
    }
</table>

<a href="/Role/Create/" class="btn btn-outline-primary col-12">Yeni Rol Ekle</a>
<br />
<br />
<a href="/Role/UserRoleList/" class="btn btn-outline-info col-12">Kullanıcı Rol Listesi</a>
               