@{
    ViewData["Title"] = "Ödeme Sonucu";
}


    <div class="container mt-5">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Ödeme Sonucu</h4>
            <p>@ViewBag.Message</p>
        </div>
    </div>
